.reactPlayerSubtitles {
  display: flex;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  * {
    box-sizing: border-box;
  }
  &__player {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: black;
    max-width: 100%;
    > .subtitles {
      position: absolute;
      top: 10px;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      .top, .bottom {
        position: absolute;
        right: 8%;
        left: 8%;
      }
      .top {
        top: 0;
      }
      .bottom {
        bottom: 0;
      }
      .primary > span {
        color: white;
        font-weight: bold;
        font-size: 20px;
        line-height: 1.4;
        padding: 3px 8px;
        margin-bottom: 3px;
        background-color: rgba(0,0,0,0.8);
        border-radius: 3px;
        display: inline-block;
      }
      .secondary > span {
        padding: 3px 8px;
        color: #ffc80a;
        margin-top: 5px;
        font-size: 16px;
        line-height: 1.33;
        font-weight: bold;
        text-shadow: 1px 0 0 rgba(0, 0, 0, 0.4), 
                  -1px 0 0 rgba(0, 0, 0, 0.4), 
                  0 1px 0 rgba(0, 0, 0, 0.4), 
                  0 -1px 0 rgba(0, 0, 0, 0.4), 
                  1px 1px 0 rgba(0, 0, 0, 0.4), 
                  -1px -1px 0 rgba(0, 0, 0, 0.4), 
                  -1px 1px 0 rgba(0, 0, 0, 0.4), 
                  1px -1px 0 rgba(0, 0, 0, 0.4);
      }
    }
    > .virtualPlayer {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      // background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      max-width: 100%;
      > div {
        height: 80px;
        width: 80px;
        background-color: rgba(0,0,0,0.3);
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        > svg {
          fill: white;
        }
      }
      > a {
        position: absolute;
        top: 10px;
        right: 20px;
        transition: opacity 0.15s;
        user-select: none;
        text-decoration: none;
        font-size: 16px;
        color: white;
        font-weight: 900;
        text-shadow: 0px 0.5px 1px black;
        opacity: 0.9;
        > span {
          color: white;
          font-size: 11px;
          font-weight: 300;
        }
        &:hover {
          opacity: 1;
        }
      }
    }
    > .controls {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 60px;
      // opacity: 0.9;
      background-position: bottom;
      background-repeat: repeat-x;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
      // background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
      padding: 0 10px 10px 10px;
      opacity: 1;
      transition: opacity .25s cubic-bezier(0, 0, 0.2, 1);
      &.hidden {
        opacity: 0;
      }
      > .progressBar {
        height: 14px;
      }
      > .items {
        display: flex;
        button {
          border: none;
          background: none;
          outline: none;
          svg {
            fill: white;
          }
          &:hover {
            cursor: pointer;
          }
        }
        > .leftItems {
          display: flex;
          align-items: center;
          flex: 1;
          > * {
            min-width: 40px;
            text-align: center;
          }
          .volumeButton {
            position: relative;
            .volumeSlider {
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              bottom: 27px;
              background-color: rgba(0,0,0,0.5);
              padding: 7px;
              border-radius: 3px;
            }
          }
          .duration {
            font-size: 12px;
            color: white;
            width: 100px;
            line-height: 27px;
          }
        }
        > .rightItems {
          display: flex;
          align-items: center;
          flex: 1;
          justify-content: flex-end;
          > * {
            min-width: 40px;
            text-align: center;
          }
          .captionButton {
            position: relative;
          }
          .resizeButton {

          }
        }
        .twoLayersMenu {
          position: absolute;
          top: -20px;
          left: 50%;
          transform: translate(-50%, -100%);
          background-color: white;
          list-style: none;
          margin: 0;
          padding: 10px;
          border-radius: 3px;
          width: 180px;
          text-align: left;
          border-spacing: 0;
          padding: 0;
          tr {
            > td {
              padding: 8px 0;
              > label {
                color: #6e727d;
                font-size: 12px;
                font-weight: 500;
              }
              > b {
                font-size: 14px;
                color: #1c2029;
              }
              &:first-child {
                padding-left: 13px;
              }
              &:last-child {
                padding-right: 13px;
                text-align: right;
              }
            }
            &:first-child {
              > td {
                &:first-child {
                  border-top-left-radius: 3px;
                }
                &:last-child {
                  border-top-right-radius: 3px;
                }
              }
            }
            &:last-child {
              > td {
                &:first-child {
                  border-bottom-left-radius: 3px;
                }
                &:last-child {
                  border-bottom-right-radius: 3px;
                }
              }
            }
            &.active {
              background-color: #EFEFEF;
            }
            &:hover {
              background-color: #E2E2E2;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  > .scriptSide {
    background-color: white;
    border-left: 1px solid #e4e5e5;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    > ul {
      flex: 1;
      list-style: none;
      padding: 0;
      margin: 0;
      overflow-y: scroll;
      > li {
        padding: 0 14px;
        cursor: pointer;
        // height: 115px;
        &:hover {
          background-color: #f5f5f6;
          & + li > div, & > div {
            border-top-color: transparent;
          }
        }
        &.active {
          background-color: #e9e9ea;
          & + li > div, & > div {
            border-top-color: transparent;
          }
        }
        &:first-child > div {
          border-top: 0;
        }
        > div {
          // height: 100%;
          display: flex;
          align-items: center;
          border-top: 1px solid #e4e5e5;
          padding: 16px 0;
          > span {
            font-size: 12px;
            color: #C0C0C0;
            // min-width: 40px;
            width: 40px;
          }
          > div {
            // width: 80%;
            flex: 1;
          }
          .primarySubtitle,
          .secondarySubtitle {
            font-size: 14px;
            // white-space: nowrap;
            // overflow: hidden;
            // text-overflow: ellipsis;
            margin: 0;
            line-height: 18px;
          }
          .primarySubtitle {
            color: #1c2029;
            font-weight: 500;
          }
          .secondarySubtitle {
            color: #6e727d;
            font-size: 13px;
          }
        }
      }
    }
  }
}

$gray: #878C88;
$red: #E33734;

.ProgressBar,
.VolumeSlider {
  position: relative;
  // background: #eee;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  &-elapsed,
  &-value {
    background: $gray;
    border-radius: 4px;
  }

  &-seek {
    position: absolute;
    cursor: pointer;
  }

  &-handle {
    position: absolute;
    width: 16px;
    height: 16px;
    background: $red;
    border-radius: 100%;
    transform: scale(0);
    transition: transform 0.2s;
  }

  &.isSeekable,
  &.isEnabled {
    &:hover {
      .ProgressBar-handle,
      .VolumeSlider-handle {
        transform: scale(1);
      }

      .ProgressBar-intent,
      .VolumeSlider-intent {
        position: absolute;
        background: rgba(0,0,0,0.05);
      }
    }

    .ProgressBar-elapsed,
    .VolumeSlider-value {
      background: $red;
    }
  }
}

.ProgressBar {
  height: 4px;
  margin: 10px 0;
  transition: height 0.2s;

  &-elapsed {
    height: 100%;
  }

  &-seek {
    top: -6px;
    right: 0;
    bottom: -6px;
    left: 0;
  }

  &-handle {
    top: 0;
    margin: -4px 0 0 -8px;
  }

  &.isSeekable {
    &:hover {
      height: 8px;

      .ProgressBar-handle {
        transform: scale(1);
      }

      .ProgressBar-intent {
        top: 0;
        left: 0;
        height: 100%;
      }
    }
  }

  &.isLoading {
    opacity: 0.5;
    background: #ccc;
    animation: barLoading 2s infinite;
  }
}

.VolumeSlider {
  width: 5px;
  height: 100px;
  /*margin: 10px 0;*/

  &-value {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  &-seek {
    left: -6px;
    top: 0;
    right: -6px;
    bottom: 0;
  }

  &-handle {
    left: 0;
    margin: 0 0 -8px -4px;
    display: none;
  }

  &.isEnabled {
    &:hover {
      .VolumeSlider-handle {
        transform: scale(1);
      }

      .VolumeSlider-intent {
        bottom: 0;
        left: 0;
        width: 100%;
      }
    }
  }
}
